.header-logo-container {
  width: 100%;
  background-color: black;
  text-align: center;
  color: white;
  display: none;
}

.header-container {
  width: 100%;
  background-color: var(--primary-color);
  color: white;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-name,
.logo-name {
  font-size: var(--font-size-medium);
  letter-spacing: 3px;
  pointer-events: none;
  padding-left: 0.65rem;
}

.first-letter {
  font-weight: bold;
  font-size: var(--font-size-large);
}

.nav-container {
  list-style-type: none;
  display: flex;
  column-gap: 30px;
  padding-right: 0.65rem;
}

.nav-container li a {
  letter-spacing: 3px;
  cursor: pointer;
  padding: 15px 0;
  font-size: var(--font-size-medium);
  text-decoration: none;
  color: white;
  display: block;
  transition: transform 0.35s ease;
  text-wrap: nowrap;
}

.nav-container li:active a {
  transform: translateY(-10px);
  color: rgb(215, 215, 215);
}

@media only screen and (max-width: 997px) {
  .nav-container li a{
    font-size: var(--font-size-base);
    letter-spacing: 1px;
  }

  .header-name {
    font-size: var(--font-size-base);
  }

  .first-letter {
    font-size: var(--font-size-medium);
  }
}

@media only screen and (max-width: 600px) {
  .header-logo-container {
    display: block;
  }

  .logo-name {
    letter-spacing: 1.5px;
  }

  .header-name {
    display: none;
  }
  
  .nav-container {
    flex: 1;
    justify-content: space-evenly;
    column-gap: 0px;
    padding-right: 0;
  }

}

@media (min-width: 600px) {
  .nav-container li:hover a {
    transform: translateY(-10px);
    color: rgb(215, 215, 215);
  }
}



